.social {
    height: 24px;
    padding-left: 30px;
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 24px;
}

.twitter {
    background: url("../twitter.png") no-repeat left top;
}

.github {
    background: url("../github.jpg") no-repeat left top;
}

.avatar {
    background: url("../avatar.png") no-repeat left top;
}

.stackoverflow {
    background: url("../stackoverflow.png") no-repeat left top;
}

.linkedin {
    background: url("../linkedin.png") no-repeat left top;
}
