// here we go with layout stuff

/*
 * This is the main layout: since its main aim is to contain
 * object, we set no margin.
 */
.l() {
    margin:0px;
    padding:0px;
    height:100%;
}

/*
 * This create rules such that the element is contained into
 * the column width, removing the gutter from two sides by the margins.
 */
.column-span(@count) {
    width:@count * @columnWidth - 2*@columnGutter;
    margin:0px @columnGutter 0px @columnGutter;
}

/*
 * This two below are a very simple two column layout.
 *
 * Maybe we should use id selectors to force to be used only in one place
 * or make them more generics.
 */
.l-sidebar {
    .l();
    .column-span(3);
    float:left;
}

.l-content {
    .l();
    .column-span(9);
    float:right;
}

.l-grid {
    .l();
    list-style-type: none;
    .clearfix();

    & > li {
        float:left;
        /* IE7 hack to mimic inline-block on block elements */
        *display: inline;
        *zoom: 1;
        .column-span(3);

        &:first-of-type {
            margin-right:0px;
        }
        &:last-of-type {// FIXME: use nth-of-type
            margin-right:0px;
        }
    }
}
